

:root{
    --bg-2:#fafaf9;
    --bg-1:#ffffff;
    --bg-tag:#e6d6fc;
    --color-tag:#883AE1;
    --color-1:black;
    --color-2:#6C727F;
}
*{
    padding: 0;
    margin: 0;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
 

}
    
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-2);
    
}
section, section img{

height: fit-content;
border-radius: 10px;

}

section{
 background-color: var(--bg-1);
 box-shadow: 10px 10px 5px 0px rgba(17, 23, 41, 0.05);
}
 
section div{
    width: 336px;
    padding: 16px;
    
}

section img{
 margin-bottom: 16px;
 width: 336px;
}
section .tag{
    background-color: var(--bg-tag);
    color: var(--color-tag);
    padding: 4px 16px;
    border-radius: 16px;
    font-size:0.625rem ;
    font-weight: 500;

}

section h1{
    margin-top: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 1.125rem;
}


section p{
    margin-bottom: 20px;
    font-size: 0.875rem ;
    color: var(--color-2);
}

section div:nth-child(1){
    border-bottom: 1px solid var(--color-2);
}
section .author{
    color: var(--color-2);
    font-size: 0.;
}
